@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --bg-color:#1E201E;
    --primary-color: #3C3D37;
    --secondary-color: #697565;
    --font: ““Nunito Sans”, sans-serif;
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
}